<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>974596240161-k8hq6lqsd4df407ighj6rnr29sevb233.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.974596240161-k8hq6lqsd4df407ighj6rnr29sevb233</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>974596240161-74oupc0i1r89cjr1qcrnhseao895v95s.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAAxAjxmdZ-fersKOPttYEKvgKasDdHvfo</string>
	<key>GCM_SENDER_ID</key>
	<string>974596240161</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sportly</string>
	<key>PROJECT_ID</key>
	<string>sportly-2253a</string>
	<key>STORAGE_BUCKET</key>
	<string>sportly-2253a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:974596240161:ios:76df3de0960064f2180460</string>
</dict>
</plist>